<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<string>000000255</string>
	<key>Cyan</key>
	<string>000190200</string>
	<key>Green</key>
	<string>000255000</string>
	<key>Orange</key>
	<string>255035000</string>
	<key>Pink</key>
	<string>255000033</string>
	<key>Purple</key>
	<string>255000255</string>
	<key>Red</key>
	<string>255000000</string>
	<key>SoftWhite</key>
	<string>255139039</string>
	<key>White</key>
	<string>255255255</string>
	<key>Yellow</key>
	<string>255139039</string>
</dict>
</plist>
